.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  table, th, td{
    border-collapse: collapse;
width: 30%;
  }

  h1{
    text-align: center;
  }

  .card-title{
    text-align: center;
  }

.target{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
/* 
canvas{
  margin-left: 50px;
  margin-right: 50px;
  width:40,
} */

.chart-wrapper {
  height:  400px;
  width: 1000px;
}